body {
  width: 100%;
}

p {
  text-align: center;
}

main {
  margin: 0 auto;
  width: 50%;
  transform: translateY(100%);
  transition: transform 15s linear;
}

.scroll {
  transform: translateY(-200%);
}
